{% extends "base.html" %}

{% block title %}Account registration{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="form">
            <h1>Create an account</h1>
            <p>Please, sign up using the following form:</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ user_form.as_div }}
                <input type="submit" value="Create my account" class="btn btn-outline">
            </form>
        </div>
    </div>
{% endblock content %}