{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}

<div class="form-wrapper">
    <h1>Log-in</h1>
    {% if forms.error %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>Please, use the following to log-in: If you don't have an account <a href="{% url "register" %}">register here</a>.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{form.as_div}}
            <input type="hidden" name="next" value="{{next}}">
            <input class="btn btn-outline" type="submit" value="Log in">
        </form>
        <p>
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </p>
    </div>
    <ul>
        <li class="twitter">
            <a href="{% url 'social:begin' 'twitter' %}">
                Sign in with Twitter
            </a>
        </li>
        <li class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">
            Sign in with Google
            </a>
        </li>
    </ul>
</div>

{% endblock content %}